* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("/swwp.jpg");
}
.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
}
.app-main-btns {
  max-width: 20% !important;
  background-color: rgb(226, 141, 43);
  color: white;
  text-align: center;
  margin: 1% auto;
  outline: none;
  border: 1px solid rgb(226, 141, 43);
  border-radius: 5px;
  padding: 1rem !important;
}
.app-container button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(226, 141, 43);
}
/* Search */
.search-btn {
  width: 8rem;
  background-color: #1c7a70;
  color: aliceblue;
  display: block;
  margin: auto;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  font-size: 0.75rem;
}
.search-btn:hover {
  color: #1c7a70;
  background-color: aliceblue;
}
.search-input {
  width: 12rem;
  display: block;
  margin: 2rem auto;
  height: 2rem;
  border: none;
  padding: 1rem;
  border-bottom: 2px solid #1c7a70;
  outline: none;
}
::-webkit-input-placeholder {
  color: #1c7a70;
  font-size: 1rem;
}
::-moz-placeholder {
  color: #1c7a70;
  font-size: 1rem;
}
:-ms-input-placeholder {
  color: #1c7a70;
  font-size: 1rem;
}
:-moz-placeholder {
  color: #1c7a70;
  font-size: 1rem;
}
/* Movies */
.movie-item button {
  max-width: 15%;
  background-color: #880925;
  color: white;
  text-align: center;
  margin: 1% auto;
  outline: none;
  border: 1px solid #1c7a70;
  border-radius: 5px;
  padding: 5px;
}
.movie-list {
  width: 100%;
  padding: 1%;
}
.movie-item {
  width: 50%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: wheat;
  background-color: #1c7a71ab;
  border: 3px dashed #fca503;
  border-radius: 20px;
}
.more-info {
  width: 50%;
  padding: 2%;
}
/*Chars*/
.char-list {
  padding: 1%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.char-item {
  width: 32%;
  margin: 1% auto;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #91043f9a;
  border: 3px dashed #fca503;
  border-radius: 20px;
  color: #fdf1d5;
}
.char-item:nth-child(even) {
  background-color: #fca503ab;
  border: 3px dashed #91043f;
  color: #690320;
  border-radius: 20px;
}
.char-item h4 {
  cursor: pointer;
}
.char-item h4:hover {
  cursor: pointer;
  color: #1c7a70;
}
.hidden {
  display: none;
}

.details-loading-skeleton {
  width: 25%;
  height: 15rem;
  background-color: #92033f56;
  margin: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.char-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
